GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END RSA PRIVATE KEY-----"

TEMPLATE_ID=1U1pH8ZlMNqawA3cSt2LgX3I8nRM-NzOhCUlufBwpP-g
PASTA_RAIZ_ID=1JJD7utW0s7dqkmWahIV9MLuNEQsDAH_x
PLANILHA_MASCULINO_ID=1lVPjjCSQrlMaqa5L41uQOuCP8mOOVtGjdSB2jl4soag
PLANILHA_FEMININO_ID=188f8GtyTpd9CqLPRaQjFHuqMPaNM6tOD8Mkbvt6va9M

PORT=3001
